.auth-form {
    width:25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background: rgb(172, 164, 164);
    font: inherit;
    border: 1px solid rgb(148, 148, 172);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right:1rem;
    box-shadow: 1px 1px 5px rgb(148, 148, 172);
    color:white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: rgb(109, 98, 98);
    border-color: rgb(109, 98, 98);
}